@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


html,body{
    margin: 0;
    padding: 0;
}
.row1-col1{
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}
.row1-back-ar{
    font-size: 20em;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top:-100px;
    right: -20px;
    color: rgba(207,216,220 ,0.2);
    visibility: 0.1px;
}
.description-text h1{
    font-size: 3em;
}
.row1-back-wics{
    font-size: 20em;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    left: 0px;
    top:70px;
    color: rgba(207,216,220 ,0.3);
    visibility: 0.1px;
    z-index: 1;
    
}
.icon-container{
    width: 70px;
    height:70px;
    border-radius: 50px;
    background: #fffdff;
    box-shadow: 5px 5px 14px #f2f0f2,
                 -5px -5px 14px #ffffff,
                 inset 5px 5px 14px #f2f0f2,
                inset -5px -5px 14px #ffffff;
    border: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-card{
    width: 200px;
    height: 340px;
    border-radius: 5px;
    background: white;
    box-shadow:  7px 7px 30px #c9cbcd,
    -7px -7px 30px #ffffff;
   outline: none;
   border: none;
    }

    .home-card-row4{
        width: 300px;
        height: 440px;
       outline: none;
       border: none;
        }
.home-card-container{
        background:#ECEFF1; 
        padding: 50px;
}

.home-card-container ul li{
display: inline-block;
list-style: none;
padding: 0;
margin: 15px;

}
.home-card-description-row4{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: center;
}
.col-card-title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    margin: 0;
}

.col-icons-container{
    height: 110px;
    padding-top: 30px;
}
.col-card-description{
    font-size: 12px;
    height: 100px;
    padding: 5px 30px;
    color:#546E7A;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.home-jumbotron-layer {
    background-color: rgba(225,245,254 ,0.9);
    width: 100%;
    height: 100%;
    padding:20px;
    align-items: center;
    padding-top: 10%;
}
.home-jumbotron-layer .text-secondary {
    font-family: 'Montserrat', sans-serif;
}

.row-3 h2  {
    font-family: 'Raleway', sans-serif;
    margin-top: 25%;
    font-size: 2em;
}
@media only screen and (max-width: 900px) {
    .row1-back-ar{
        display: none   ;
   
    }
    .row1-back-wics{
        display: none;
        
    }

    .robot-img{
        display: none;
    }
    .hand-img{
        display: none;
    }

  }