.gallery-img ul li{
 
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 2px;
    
}

.gallery-card-container{
    min-height: 550px;
    background-color: white;
    max-width: 400px;
}
.gallery-card-container p{
   font-size: 13px;
}


