@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');



.nav-item{
    letter-spacing: 1px;
    box-sizing: border-box;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}
  


.navbar-header{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.navbar-toggler.collapsed{
    outline: 0;
    border:0;
    border-color: none;
}
.navbar-toggler{
    outline: 0;
    border:0;
    border-color: none;
}


.nav-item,.search-header{
    outline: none;
    border:none;
    margin:0px 5px
}

.search-header{
    border: none;
    outline: none;
    background-color: #ECEFF1;
    border-radius: 23px;
    font-size: 13px;
    transition: all 1s;
    box-sizing: border-box;
    text-align: center;

}
.search-header:focus{
    border: none;
    outline: none;
}

.nav-item>.active {
    transition:all 0.5s;
    height:100%;
    border-radius:20px;
    padding:5px 16px;
    min-width: 120px;
    background-color: #90CAF9;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 950px) {
    .search-header{
     margin-top: 10px;
    
    }
    .nav-item{
        letter-spacing: 1px;
        box-sizing: border-box;
        width: 140px;
        display: flex;
        justify-content:left;
        align-items: left;
    
    }
      
    .nav-item>.active {
        transition:all 0.5s;
        height:100%;
        border-radius:0;
        padding:8px 5px;
        width: 190px;
        background-color: #90CAF9;
        display: block;
        justify-content: start;
        align-items: left;
    }
   
}