@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.dropdown-items{

    color:gray;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    
}
.nav-item{
    letter-spacing: 1.5px;
}